* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

body {
    background-color: #aaa;
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    display: block;

    background-image: url("./bg.jpg");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    /* filter: brightness(5) blur(2px); */
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.songs {
    height: calc(100vh - 20rem);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 1024px) {
    .songs {
        height: calc(100vh - 25rem);
    }
}
