* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bg {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    display: block;

    background-image: url("/bg.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: brightness(0.6) blur(5px);
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.songs {
    height: calc(100vh - 18.5rem);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    position: relative;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (max-width: 1024px) {
    .songs {
        height: calc(100vh - 25rem);
    }
}

.contact {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    width: 100%;
    padding: 2rem 3rem;
    text-align: center;
    z-index: 10;
}

.contact h6 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #111;
    opacity: 0.7;
    letter-spacing: 0.1em;
}

@media (max-width: 768px) {
    .contact {
        padding: 1.5rem;
    }
}
